-
    let mainMenu = [
            ["Home", "#home"],
            ["Services", "#service"],
            ["About", "#about"],
            ["Works", "#works"],
            ["Blog", "#blog"],
            ["Clients", "#clients"],
            ["Contact", "#contacts"],
        ]
mixin menu(mainMenu)
    .navigation.d-flex
        .logo 
            a(href="index.html")
                p.name-company Startup
        nav.flex-nav
            ul.menu.d-flex
                for item in mainMenu 
                    li.nav-list 
                        a.nav-menu(href=item[1] data-href=item[1]) #{item[0]}
        
- 
    let workers = {
        workers1: {
            img: "img/khail.webp",
            alt: "Md. Khalil Uddin",
            name: "Md. Khalil Uddin",
            work: "Head of Ideas",
        },
        workers2: {
            img: "img/rubel.webp",
            alt: "Rubel Miah",
            name: "Rubel Miah",
            work: "Lead WordPress Developer",
        },
        workers3: {
            img: "img/shamim.webp",
            alt: "Shamim Mia",
            name: "Shamim Mia",
            work: "Sr. Web Developer",
        },
        workers4: {
            img: "img/john.webp",
            alt: "John Doe",
            name: "John Doe",
            work: "Front-end Developer",
        }
    }

mixin cardWorkers(workers)
    figure.figure-workers 
        figcaption 
            img.worker-img(src=workers.img, alt=workers.alt class="img") 
            p.name-worker #{workers.name}
            p.work #{workers.work}

-
    let workMenu = [
            ["All", "#all"],
            ["Branding", "#branding"],
            ["Design", "#design"],
            ["Development", "#development"],
            ["Strategy", "#strategy"],
        ]
mixin menuWork(workMenu)
    nav.work-nav.d-flex
        ul.menu-work.d-flex
            for item in workMenu 
                li  
                    a.card-cta(href=item[1], data-href=item[1]) #{item[0]}

-
    let cardBlock = {
        hair: {
            class: "branding",
            img: "img/hair.webp",
            alt: "hair",
            head: "Hair Dresser",
            descript: "Branding",
            cta: "View",
            href: "#",
        },
        bird: {
            class: "branding",
            img: "img/bird.webp",
            alt: "bird",
            head: "Hope",
            descript: "Branding",
            cta: "View",
            href: "#",
        },
        notebook: {
            class: "design",
            img: "img/notebook.webp",
            alt: "notebook",
            head: "Work place",
            descript: "Work place",
            cta: "View",
            href: "#",
        },
        photo: {
            class: "development",
            img: "img/photo.webp",
            alt: "photo",
            head: "Photo",
            descript: "Branding",
            cta: "View",
            href: "#",
        },
        bycicle: {
            class: "development",
            img: "img/bycicle.webp",
            alt: "bycicle",
            head: "Bycicle",
            descript: "Branding",
            cta: "View",
            href: "#",
        },
        note: {
            class: "strategy",
            img: "img/note.webp",
            alt: "note",
            head: "Work place",
            descript: "Branding",
            cta: "View",
            href: "#",
        },
        table: {
            class: "branding",
            img: "img/table.webp",
            alt: "table",
            head: "Work place",
            descript: "Branding",
            cta: "View",
            href: "#",
        },
        canceliaria: {
            class: "strategy",
            img: "img/canceliaria.webp",
            alt: "cancelaria",
            head: "Work",
            descript: "Branding",
            cta: "View",
            href: "#",
        },
        events: {
            class: "strategy",
            img: "img/events.webp",
            alt: "events",
            head: "Events",
            descript: "Branding",
            cta: "View",
            href: "#",
        }

    }

mixin cardMenu(cardBlock) 
    figure.figure(class=cardBlock.class)
        figcaption.img-cards
            picture
                img(src=cardBlock.img, alt=cardBlock.alt class="card-block-img")
            .click-block
            .d-flex.text-block
                h2.head-block #{cardBlock.head}
                p.descript-block #{cardBlock.descript}
                p.cta-viev 
                    a.cta-block(href=cardBlock.href) #{cardBlock.cta}

-
    let blog = {
        startup: {
            img: "img/workplace.png",
            alt: "workplace",
            date: "18",
            month: " Oct",
            head: "Startup ideas needs to be funded",
            nameRecent: "By",
            redName: " Khalil",
            secondName: " Uddin in",
            lastName: " Development",
            description: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit am Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore et dolore aliquyam erat, sed diam ",
            descroptionMore: "More Text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit am Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore et dolore aliquyam erat, sed diam",
            btn: "Read more",
            href: "",
            btncancel: "Cancel",
        },
        user: {
            img: "img/table.png",
            alt: "table",
            date: "18",
            month: " Oct",
            head: "Startup ideas needs to be funded",
            nameRecent: "By",
            redName: " Khalil",
            secondName: " Uddin in",
            lastName: " Development",
            description: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit am Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore et dolore aliquyam erat, sed diam ",
            descroptionMore: "More Text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit am Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore et dolore aliquyam erat, sed diam",
            btn: "Read more",
            href: "",
            btncancel: "Cancel",
        },
    }

mixin blogCard(blog)
    .d-flex.blog-card
        .img.startup 
            picture 
                img(src=blog.img, alt=blog.alt)
        .descript-startup 
            .d-flex.name-flex
                .date 
                    p #{blog.date}
                        span #{blog.month}
                .head-startup 
                    p.head-name #{blog.head}
                    p.name-recent #{blog.nameRecent} 
                        span.red #{blog.redName}
                        span.normal #{blog.secondName}
                        span.red #{blog.lastName}
            .text-startup 
                p.description #{blog.description}
                p.description-more #{blog.descroptionMore}
                button.btn(href=blog.href) #{blog.btn}
                button.btn-cancel(href=blog.href) #{blog.btncancel}
